## This notebook will batch score claims to get them into database

# This notebook will batch score claims

In [1]:
import json
import joblib
import pickle
import numpy as np
import pandas as pd

In [2]:
# Setting up database connections...
# Get database username and password
import getpass as gp

user = input("Please enter your database username: ")
print("Please enter your database password: ")
password = gp.getpass()

Please enter your database username: pthielma
Please enter your database password:
········

In [3]:
# Retrieve modeling dataset from the database
# Connecting to mysql database using sqlalchemy. This allows us to insert and retrieve dataframes with ease

# import mysql.connector
from sqlalchemy import create_engine

# Using an f string to input the user and password
connstring = f'mysql+mysqlconnector://{user}:{password}@127.0.0.1:3306/claims'
# Engine is a factory for connection. The connection does not happen here
engine = create_engine(connstring, echo=False)
# Connection happens here. Be sure to close
dbConnection    = engine.connect()
# Reading the table into a dataframe
test = pd.read_sql("select * from claims.test_dataset", dbConnection);
# Closing the connection
dbConnection.close()

test.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,295,48,740019,17-06-2009,OH,250/500,1000,1148.73,0,439787,...,2,YES,5400,900,900,3600,Saab,95,1999,N
1,241,45,596785,04-03-2014,IL,500/1000,2000,1104.50,0,432211,...,2,NO,91650,14100,14100,63450,Accura,TL,2011,N
2,1,33,388616,06-12-1995,OH,250/500,2000,1391.63,0,466390,...,3,NO,69400,6940,6940,55520,Mercedes,C300,2000,N
3,286,41,507545,07-12-1998,IL,250/500,1000,1298.85,6000000,435967,...,3,YES,54450,6050,12100,36300,Saab,92x,2007,N
4,168,32,981123,04-05-2000,IN,100/300,1000,1059.52,0,452748,...,1,?,57720,14430,9620,33670,Saab,93,2007,N

In [5]:
claims = test['policy_number']

### Here we will loop through our claims and score them all

In [6]:
# https://www.dataquest.io/blog/python-api-tutorial/

import requests
import json

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

for claim in claims:
    parameters = {    
        "user":"pthielma",
        "password":"1Sexything!",
        "policy_num":claim
    }

    response = requests.get("http://127.0.0.1:5000/score", json=parameters)

# jprint(response.json())