## This notebook will test all features for change in distribution.

### We will also create a similar fake distribution for API testing from STD and Mean

In [1]:
import pandas as pd
import numpy as np

# Connecting to mysql database using sqlalchemy. This allows us to insert and retrieve dataframes with ease
# import mysql.connector
from sqlalchemy import create_engine

# Using an f string to input the user and password
connstring = f'mysql+mysqlconnector://pthielma:password@127.0.0.1:3306/claims'
engine = create_engine(connstring, echo=False)
dbConnection = engine.connect()

train = pd.read_sql("select * from claims.train_dataset", dbConnection);
test = pd.read_sql("select * from claims.test_dataset", dbConnection);
train.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,235,39,651861,07-01-2011,IL,100/300,500,1046.58,4000000,434982,...,1,NO,4950,450,900,3600,Chevrolet,Silverado,2010,N
1,35,35,930032,10-09-2002,IL,100/300,2000,1117.42,0,446158,...,2,NO,53190,5910,11820,35460,Volkswagen,Jetta,1996,N
2,50,44,525862,18-10-2000,OH,250/500,2000,1188.51,0,447469,...,2,NO,61100,6110,12220,42770,Dodge,Neon,2008,N
3,456,62,669800,24-06-2009,OH,250/500,1000,1395.77,0,611651,...,3,NO,66480,5540,11080,49860,Saab,92x,2012,Y
4,150,30,354481,17-11-2004,IN,100/300,1000,1342.02,0,608425,...,2,NO,4500,450,450,3600,Saab,93,1999,N

In [2]:
train.age.describe()

count    800.000000
mean      38.877500
std        9.036153
min       19.000000
25%       32.000000
50%       38.000000
75%       44.000000
max       64.000000
Name: age, dtype: float64

In [3]:
# Creating the fake distribution
mean = 39
std = 9

fake = np.random.normal(mean, 9, 10000)

In [4]:
# Comparing to fake distribution
from scipy.stats import mannwhitneyu

u, p = mannwhitneyu(list(train['age']), list(fake))
print(p)

0.009623699258368644

#### This looks better to compare to. We will use this method to alter in the API.

### Now, lets code a function to compare all features

In [5]:
def compare(old, new):
    
    different = []
    
    for col in old.columns:
        u, p = mannwhitneyu(list(old[col]), list(new[col]))
        
        if p <= 0.05:
            different.append(col)
    
    return different

In [6]:
l = []
l = compare(train, test)
print(l)

['capital-loss', 'auto_model']